body {
  background: #F6D3CE;
}

body * {
  text: right;
}

h1 {
  text: center;
}

#poems {
  background: rgba(black, 0.1);
  border-radius: 5px;
  padding: 16px;
  margin-top: 24px;
}

div.main-section {
  border-radius: 16px;
  margin: 48px;
  border: 2px solid black;
  padding: 16px;
}

form section {
  margin-bottom: 8px;
}

input, select {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid grey;
}

select:invalid {
  color: gray;
}

select{
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%, white;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* and then whatever styles you want*/
    padding-right: 24px;
    width: 230px;
}
